/* место для вашего кода */

/* настроил body */
.page {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1100px;
}

/* headedr */

.header {
    background-color: white;
    display: flex;
}

.about-header {
    display: flex;
    align-items: center;
}

.about-header-ul {
    display: flex;
}

.about-header-li {
    margin-right: 31.48px;
    list-style-type: circle;
}

.about-header-li-main {
    margin-left: 50px;
    list-style-type: none;
    border-bottom: none;
    text-decoration: none;
}

.about-header-li-third {
    margin-right: 0;
}

.header-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0%;

}

.header-info {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;
    margin-right: 22px;
}

.header-logo {
    width: 137px;
    height: 100px;
    margin: auto;
    margin-top: 92px;
    margin-bottom: 96px;
}

.media-li-phone {
    text-decoration: none;
}

.media {
    display: block;
    margin: auto;
}

.media-li {
    list-style-type: none;
}

.media-li-address {
    border: none;
    margin-top: 1px;
}

/* cover */

.cover {
    position: relative;
    background-image: url('../images/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 757px;
    background-size: cover;
}

.description {
    padding: 105px 0 0;
}

.cover_description {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
}

.cover_description-text {
    color: #fff;
    text-transform: uppercase;
    word-spacing: 20px;
}

.bet-button {
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    border: 2px solid #fff;
    padding: 12px 32px 11px;
}

.overlay {
    position: absolute;
    background-color: black;
    opacity: 60%;
    inset: 0;
}

.cover_description-text {
    color: white;
    text-transform:uppercase;
    text-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    align-self: center;
}
.cover_title {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 100px;
    position: relative;
    display: grid;
    row-gap: 18px;
    line-height: 115px;
}

.aligned-text {
    display: block;
    letter-spacing: 30px;
    text-transform: uppercase;
    margin-right: -0.3em;
}

.aligned-text-center {
    text-align: center;
}

.aligned-text-left {
    margin-left: 50px;
    margin-top: 165px;
}

.letter-spacing {
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

.aligned-text-right {
    display: flex;
}

.no-letter_spacing {
    display: flex;
}

/* lots */

.lots {
    display: grid;
    margin: auto;
}

/* .card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */

.card {
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    gap: 25px;
    min-height: 596px;
    width: 334px;
    padding: 40px 48px;
}

.card_type-flowers {
    background-image: url('../images/card-lot-01.jpg');
}

.card_title {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
    text-decoration: underline;
    list-style-type: solid;
    position: relative;
    z-index: 1;
    display: flex;
    width: 254px;

}

.card_text {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    z-index: 1;
    margin-bottom: 48px;
    width: 254px;
}

.card-link {
    display: block;
    height: 100%;
}

.card_text {
    position: absolute;
    bottom: 0;
} 

.lots_card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.lots_card-list-item {
    list-style-type: none;
}

.lots_look-more-link {
    color: black;
    list-style-type: none;
    margin-left: 40px;
    text-decoration: underline;
    margin-top: 30px;
}

.lots-text {
    display: grid;
    position: relative;
}

.card_type-book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type-figure {
    background-image: url('../images/card-lot-03.jpg');
}

.lots {
    margin: auto;
}

.lots_heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    margin: 180px 0 27px 40px;
    text-transform: uppercase;
}

/* about */

.about {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 72px;
    width: 100%;
    flex-shrink: 0;
    margin-top: 127px;
    padding-left: 24px;
    padding-right: 24px;
}

.about_column_logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    margin-left: 47px;
    margin-top: 35px;
}

.about_logo {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    object-fit: none;
    border-radius: 60%;
    padding: 64px 42.52px 62px 46.48px;
}

.about_column_description {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    width: 100%;
    margin-top: 133px;
}

.about_title {
    color: black;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: start;
    align-self: flex-start;
}

.about_title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: start;
    align-self: flex-start;
    gap: 100px;
}

.about_text_main {
    width: 688px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.about_text_big{
    width: 693px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.about-text {
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 0;
    text-transform: uppercase;
    text-align: start;
    align-self: flex-start;
}

p + p {
    margin-top: 24px;
}

/* footer */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 180px;
}

.address {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    list-style: none;
    width: 264px;
    flex-shrink: 0;
    margin-left: 50px;
}

.address-list {
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

.footer-social-link {
    width: 240px;
    list-style-type: none;
}

.footer-social-list_item {
    list-style-type: none;
}

.icon {
    width: 48px;
    height: 48px;
}

.footer-social-list {
    display: flex;
    gap: 48px;
}

.adress-list_item {
    list-style-type: none;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;
}

.footer-menu-list_item {
    list-style-type: none;
}

.footer-menu-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0%;
    text-align: center;

}

.adress-list{
    margin-top: 10px;
}

.footer-menu-list {
    text-align: center;
    margin-left: 100px;
    margin-top: 10px;
}

.adress-list_item-underline {
    text-decoration: underline;
}

.active {
    text-decoration: none;
}

.footer-social-link-first {
    margin-left: 177.5px;
}

.icons {
    margin-bottom: 115px;
    margin-right: 50px;
    
}